.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
  }
  
  .row-dragging td {
    padding: 16px;
    visibility: hidden;
  }
  
  .row-dragging .drag-visible {
    visibility: visible;
  }

  .tabledashboard{
    width: 80%;
    height: auto;
    margin-left: 20%;
    float: left;
    position: absolute;
    top: 0;
    padding: 20px;
  }
  .dsheader h5{
      margin-bottom: 20px;;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 10px 16px;
}

.dsheader{
    float: left;
    width:100%;
    height:150px;
    background: #fff;
    border-bottom: 1px solid#ccc;
    margin-bottom: 60px;;
}