.wsgroup{
    float: left;
    width:15%;
    margin-left: 5%;
    height: 100vh;
    background: #fdfdfd;
    border-right: 1px solid#ccc;
    padding: 10px 15px;
}
.wsgroup h5{
    margin-bottom: 15px;
}
