.sidegroup{
    float: left;
    width: 5%;
    height: 100vh;
    position: fixed;
    background:#2a2f4d;
    padding: 12px 6px;
}
.listgroup ul{
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    list-style: none;
}
.listgroup ul li{
    margin-bottom: 25px;
    cursor: pointer;
}
/*.listgroup ul li a{ } */
.bottomlistgroup{
    position: absolute;
    bottom: 0;
    margin-left: 20%;
}
.bottomlistgroup ul{
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    list-style: none;
}
.bottomlistgroup ul li{
    margin-bottom: 18px;
    cursor: pointer;
}
.menuicon{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    cursor: pointer;
}